# Database
DATABASE_URL=""

# Shopify
SHOPIFY_API_KEY=""
SHOPIFY_API_SECRET=""
SHOPIFY_WEBHOOK_SECRET=""

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=""
MERCADO_PAGO_WEBHOOK_SECRET=""

# API
JWT_SECRET=""
APP_URL=""
NODE_ENV="development"